<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TnR">
        <activity
            android:name=".Lists_Edit"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".Lists"/>
        <activity
            android:name=".Lists_Inner_List"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".Lists"/>
        <activity
            android:name=".Add_Task"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Tasks_Preview"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".Tasks"/>
        <activity
            android:name=".Tasks_Edit"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".Tasks_Preview"/>
        <activity
            android:name=".Reminders_Preview"
            android:configChanges="orientation"
            android:parentActivityName=".Reminders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reminders_Edit"
            android:configChanges="orientation"
            android:parentActivityName=".Reminders_Preview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Reminder"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lists"
            android:configChanges="orientation"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tasks"
            android:configChanges="orientation"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reminders"
            android:configChanges="orientation"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TnR_new">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>